{% extends 'index.html' %}

{% block content %}

    <h1>
        Product detail
    </h1>

    <h2>
    {{ product.title }}
    </h2>

    <h3>
    {{ product.rate }}
    </h3>

    <p>
    {{ product.about }}
    </p>

    <img src="/media/{{ product.image }}" width="300">

    {% for category in product.categories.all %}
        <a href="#" class="btn btn-primary">#{{ category }}</a>
    {% endfor %}

    <h2>
    Dates:
    </h2>
    <p>Created: {{ product.created_at }}</p>
    <p>Updated: {{ product.updated_at }}</p>

    <h1>Comments:</h1>
    {% for comment in product.comments.all %}
        <p>{{ comment.text }}</p>
    {% endfor %}

{% endblock %}