{% extends 'index.html' %}

{% block content %}
<h1>
    Products
</h1>

    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.about }}</p>
            {% for category in product.categories.all %}
                <a href="#" class="btn btn-primary">#{{ categories.title }}</a>
            {% endfor %}
          <a href="/products/{{ product.id }}/" class="btn btn-primary">More</a>
        </div>
      </div>
    {% endfor %}


{% endblock %}